flows.json
[{"id":"d0262819.27ddf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"81287a5d.425368","type":"subflow","name":"copy files","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"9398d6aa.77a088"}]}],"out":[{"x":660,"y":220,"wires":[{"id":"408eacec.ce2d54","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9398d6aa.77a088","type":"fs-ops-dir","z":"81287a5d.425368","name":"list source dir","path":"inputdir","pathType":"msg","filter":"filter","filterType":"msg","dir":"payload","dirType":"msg","x":230,"y":80,"wires":[["23421b60.e80d84"]]},{"id":"19a8ff50.6330c1","type":"inject","z":"d0262819.27ddf8","name":"parameters","props":[{"p":"inputdir","v":"/mnt/win","vt":"str"},{"p":"filter","v":"*.txt","vt":"str"},{"p":"outputdir","v":"/tmp","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":160,"wires":[["97ae2a54.081e48"]]},{"id":"23421b60.e80d84","type":"split","z":"81287a5d.425368","name":"for each file","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":80,"wires":[["4d6062da.b1e57c"]]},{"id":"97ae2a54.081e48","type":"subflow:81287a5d.425368","z":"d0262819.27ddf8","name":"","env":[],"x":380,"y":180,"wires":[["441723b7.f1ba9c"]]},{"id":"408eacec.ce2d54","type":"fs-ops-copy","z":"81287a5d.425368","name":"copy file","sourcePath":"inputdir","sourcePathType":"msg","sourceFilename":"payload","sourceFilenameType":"msg","destPath":"outputdir","destPathType":"msg","destFilename":"payload","destFilenameType":"msg","link":false,"overwrite":false,"x":520,"y":220,"wires":[[]]},{"id":"4d6062da.b1e57c","type":"fs-ops-access","z":"81287a5d.425368","name":"output file exist?","path":"outputdir","pathType":"msg","filename":"payload","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":300,"y":160,"wires":[["9a786278.3dcf8"],["408eacec.ce2d54"]]},{"id":"9a786278.3dcf8","type":"debug","z":"81287a5d.425368","name":"log warning","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg.outputdir & \"/\" & msg.payload & \" alredy exists\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]},{"id":"441723b7.f1ba9c","type":"debug","z":"d0262819.27ddf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]}]